body{
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    flex-basis: 100%;
  }
  
  header {
    margin: -.5%;
    margin-bottom: 1%;
  }
  h1 {
    text-align: center
  }
  
  nav>ul {
    display: flex;
    flex-wrap: nowrap;
  }
  header>nav>ul>li{
    flex-basis:2%;
    flex-grow: 1;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  
  main>ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
  }
  
  main>ul>li {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%
  }
  
  li {
    flex-basis: 35%
  }
  
  section {
    margin: .5em;
    padding: .5em;
  }
  
  aside {
    float: right;
    flex-grow: 1;
    width: 15%
  }
  
  main>aside>img {
    width: 15em;
;
  }
  
  footer {
    display: flex;
  }
  footer>img {
    width: 2em;
    height: 2em;
    margin-top: .5em;
    margin-right: .5em;
  }
  
  