/* Règles générales */

body{
  background-color: beige;
}
header {
  flex-basis: 100%;
  flex-grow: 1;
  background-color: lightgray;
}
li {
  list-style: None;
}

section {
  background-color: aliceblue
}

a:hover {
color:red;
text-decoration:none;
}